/*originally stater-template.css*/
body {
	padding-top: 50px;
}
.content {
	padding: 40px 15px;
	/*text-align: center;*/
}

.boxed-content-main {
	padding: 15px;
	background-color: #e4e4e4;
}

.boxed-content-sub {
	padding: 15px;
	background-color: #d9d9d9;
}