---
import AppShell from '@src/layouts/AppShell.astro';
import LinkableSection from '@src/components/molecules/LinkableSection.svelte';
---

<AppShell>
	<title slot="page-title">Home Page | joshuacastor.me</title>
	<main>
		<h1 class="sr-only">Home Page</h1>
		<LinkableSection title="About Me">
			<p>I enjoy programming stuff. My current focus is learning to write performant and accessible sites with a good user experience.</p>
		</LinkableSection>

		<LinkableSection title="Recent Posts">
			<p>To be done</p>
			<nav aria-labelledby="other-posts-links-label">
				<h3 class="sr-only" id="other-posts-links-label">Other Post Links</h3>
				<a href="/posts">View more posts.</a>
			</nav>
		</LinkableSection>

		<LinkableSection title="Overall Project Statistics">
			<p>To be done</p>
			<nav aria-labelledby="find-all-project-links-label">
				<h3 class="sr-only" id="find-all-project-links-label">Project Links</h3>
				<a href="/projects">View more project details</a>
			</nav>
		</LinkableSection>

		<LinkableSection title="Recent Projects">
			<p>To be done</p>
			<nav aria-labelledby="other-project-links-label">
				<h3 class="sr-only" id="other-project-links-label">Other Project Links</h3>
				<a href="/projects">View more projects</a>
			</nav>
		</LinkableSection>
	</main>
</AppShell>
