---
import AppShell from '@src/layouts/AppShell.astro';
---

<AppShell>
	<title slot="page-title">Projects Page | joshuacastor.me</title>
	<main>
		<h1 class="sr-only">Projects Page</h1>
		This is the projects page. TBD
	</main>
</AppShell>