---
import MetadataProcessor from '@src/components/functional/MetadataProcessor.astro';
const buildTime = (new Date()).toString();
const metadata = Astro.props.metadata;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<slot name="page-title"></slot>
		<MetadataProcessor metadata={metadata}/>
		<style lang="scss" global>
			@use '../styles/global.scss';
		</style>
  </head>
	<body>
		<header>
			<span class="header-1">JC.ME</span>
			<nav aria-labelledby="main-page-navigation-label">
				<span class="sr-only" id="main-page-navigation-label">Site Navigation</span>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/posts">Posts</a></li>
				</ul>
			</nav>
		</header>
		<slot/>
		<footer>
			<section>
				<h2>Contact Information</h2>
				<address>
					<ul>
						<li><a href="mailto:joshua.castor@joshuacastor.me">Email</a></li>
						<li><a href="https://github.com/BluuArc">GitHub</a></li>
						<li><a href="https://www.linkedin.com/in/joshuacastor">LinkedIn</a></li>
					</ul>
				</address>
			</section>
			<p>This page was built on {buildTime}</p>
		</footer>

		<script id="metatag-mover">
			(() => {
				/**
				 * Any slotted elements in <head> or otherwise conditionally
				 * rendered elements in <head> get appended to the body.
				 * Run as in-line script to try to maintain expected usage
				 * of these tags in <head> element. Should run before
				 * window.onload is fired.
				 */
				function moveMetaElementsToHead () {
					document.body.querySelectorAll('title, meta, link, script[type="application/ld+json"]')
						.forEach((element) => {
							document.head.appendChild(element);
						});
				}
				moveMetaElementsToHead();

				// No one needs to know we've shuffled some stuff around.
				document.getElementById('metatag-mover').remove();
			})();
		</script>
	</body>
</html>
