---
import AppShell from '@src/layouts/AppShell.astro';
const metadata = Astro.props.metadata; // passed in from post using PostShell layout
---

<AppShell metadata={metadata}>
	<main><slot/></main>
</AppShell>